<div id="drawer">
  <div class="drawer-navigation">
    <i class="drawer-icon__close fa fa-times"></i>
    <div class="drawer-header">
      <ul>
        <li>
          <a href="/">
            <i class="fa fa-home"></i>
            Главная страница
            {{user.nickname}}
          </a>
        </li>
        <li>
          <a href="/glikemicheskiy-index">
            Таблицы ги продуктов
          </a>
        </li>
        <li>
          <a href="/auth/registration">
            <i class="fa fa-home"></i>
            Зарегистрироваться
          </a>
        </li>
        <li>
          <a href="/admin">
            Админка
          </a>
        </li>
        <li>
          <a href="/auth/login">
            <i class="fa fa-home"></i>
            Войти
          </a>
        </li>
        <li>
          <a href="/auth/logout">
            Выйти
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>