<aside class="right-sidebar">
  <div class="category">
    <div class="category-header">
      Мы в соц. сетях
    </div>
    <nav class="category-navigation">
      <ul>
        <li>
          <a href="#">
            VK
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>