<!DOCTYPE html>
<html lang="ru">

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">
</head>

<body>
    
    <article class="intro-text">
      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur repellat quos, illo maiores perspiciatis
        neque vitae iure molestias sapiente recusandae in alias non, adipisci voluptas sunt eligendi fugiat ipsa esse.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur repellat quos, illo maiores perspiciatis
        neque vitae iure molestias sapiente recusandae in alias non, adipisci voluptas sunt eligendi fugiat ipsa esse.</p>
    </article>
    

    <div class="page-body">
      <main class="content" role="main">

        {{{body}}}

      </main>
    
    </div>
   
  </div>
  <script src="/bundle.js"></script>
</body>

</html>