<aside class="admin-left-sidebar">
  <div class="category">
    <div class="category-header">
      Меню
    </div>
    <nav class="category-navigation">
      <ul class="category-navigation__list-parent">
        <li class="category-navigation__item-parent">
          <a href="#" class="category-navigation__link-parent">
            <i class="fa fa-plus"></i>
            Управление категориями
          </a>
          <ul class="category-navigation__list-child">
            <li class="category-navigation__item-child">
              <a
                class="category-navigation__link-child"
                href="/admin/post/category/add"
              >
                <i class="fa fa-long-arrow-right"></i>
                Добавить категорию
              </a>
            </li>
            <li class="category-navigation__item-child">
              <a
                class="category-navigation__link-child"
                href="/admin/post/category/list"
              >
                <i class="fa fa-long-arrow-right"></i>
                Все категории
              </a>
            </li>
          </ul>
        </li>
        <li class="category-navigation__item-parent">
          <a href="#" class="category-navigation__link-parent">
            <i class="fa fa-plus"></i>
            Управление подкатегориями
          </a>
          <ul class="category-navigation__list-child">
            <li class="category-navigation__item-child">
              <a
                class="category-navigation__link-child"
                href="/admin/subcategory/add"
              >
                <i class="fa fa-long-arrow-right"></i>
                Добавить подкатегорию
              </a>
            </li>
            <li class="category-navigation__item-child">
              <a
                class="category-navigation__link-child"
                href="/admin/subcategory/list"
              >
                <i class="fa fa-long-arrow-right"></i>
                Все подкатегории
              </a>
            </li>
          </ul>
        </li>
        <li class="category-navigation__item-parent">
          <a href="#" class="category-navigation__link-parent">
            <i class="fa fa-plus"></i>
            Управление статьями
          </a>
          <ul class="category-navigation__list-child">
            <li class="category-navigation__item-child">
              <a
                class="category-navigation__link-child"
                href="/admin/post/add"
              >
                <i class="fa fa-long-arrow-right"></i>
                Добавить статью
              </a>
            </li>
            <li class="category-navigation__item-child">
              <a
                class="category-navigation__link-child"
                href="/admin/post/list"
              >
                <i class="fa fa-long-arrow-right"></i>
                Все статьи
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>